.content
{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 
    
    
}

div p{
    background-color: beige;
    font-size: 30px;
    text-align: center;
    padding: 30px;

 }

 .Box1
 {
    background-color: lightskyblue;
    display: flex;
    gap: 100px;
    padding: 10px;
    border: 3px solid black;
 }

 .Box2
 {
    background-color: lightskyblue;
    display: flex;
    gap: 100px;
    padding: 10px;
    border: 3px solid black;

 }

 .Box3
 {
    background-color: lightskyblue;
    display: flex;
    gap: 100px;
    padding: 10px;
    border: 3px solid black;

 }
 